.App {
  text-align: center;
}


.App-header {
  height: 50px;
  position: fixed;
  width: calc(100vw - 20px);
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: green;
  color: white;
  font-size: 26px;
  z-index: 15;
}

button{
  border: solid green 1px;
  background-color: green;
  border-radius: 20px;
  margin: 3px;
  color: white;
  padding: 5px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: green;
}
.search {
  border: 1px solid green;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
}

.App-link {
  color: #61dafb;
}

#grid-container {
  display: grid;
  width: 100vw;
  justify-content: center;
  position: fixed;
  margin-top: 70px;
  grid-template-columns: 30em calc(100vw - 30em);
  grid-template-areas:
    "list map";
} 

#startup-list {
  grid-area: list;
  height: calc(100vh - 90px);
  border-right: solid 1px gray;
  padding: 10px;
  margin-bottom: 50px;
  overflow: scroll;
}

#startup-map {
  grid-area: map;
  height: calc(100vh - 70px);
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  z-index: 0;
}
#login-bar {
  font-size: 15px;
  /* position: absolute; */
  height: auto;
  width: auto;
  /* padding: 5px; */
  z-index: 20;
  /* justify-self: end; */
}
#search-bar{
  grid-area: list;
  position: absolute;
  height: auto;
  width: 90%;
  padding: 10px;
  background-color: rgba(255, 255, 255, .9);
  z-index: 20;
  justify-self: center;
}

#startup-info {
  grid-area: map;
  position: absolute;
  max-width: 30em;
  height: calc(100vh - 70px);
  padding: 0px;
  margin: 0px;
  overflow: auto;
  z-index: 10;
  justify-self: start;
  align-self: start;
}
.startup-list-header{
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
  #grid-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "map map"
      "list list";
      margin-top: 40px
  } 
  #startup-info {
    border-bottom: gray solid 10px;
    border-right: gray solid 1px;
    margin: 0px;
    width: 60vw;
    max-height: 300px;
    justify-self: start;
  }
  #startup-map {
    border-bottom: gray solid 10px;
    margin-bottom: 0px;
    z-index: 1;
    height: 300px;
  }
  #startup-list {
    margin: 0px;
    height: calc(100vh - 400px)
  }
  h1 {
    font-size: 18px;
  }
  .App-header{
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .App-header{
    font-size: 8px;
  }
  h1 {
    font-size: 18px;
  }
 #grid-container {
  margin-top: 40px;
 }
}