.App {
  text-align: center;
}

.App-header {
  border-bottom: solid #282c34 4px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#grid-container {
  display: grid;
  height: 500px;  
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "list map";
}

#startup-list {
  grid-area: list;
  height: 100%;
  border: solid 2px fuchsia;
  padding: 10px;
  overflow: auto;
}

#startup-map {
  grid-area: map;
  height: 100%;
  border: solid 2px blue;
  padding: 10px;

}