
.startup-info {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  margin: 15px;

}
.startup-info:hover {
  background-color: lightgray;
}

.startup-names {
  font-size: 18px;
  color: green;
  line-height: 1;
}
p {
  line-height: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;

  box-sizing: border-box;
}
.address-info {
  font-size: 12px;
}
.industry {
  border: green solid 2px;
  border-radius: 20px;
  padding: 3px;
  color: white;
  background-color: green;
  display: inline;
  line-height: 2;
}
img {
  width: 75px;
  float: right;
  overflow: hidden;
  mix-blend-mode: multiply;

}