
.startup-info {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  margin: 15px;
}
.startup-info:hover {
  background-color: lightgray;
}

.startup-names {
  font-size: 18px;
  color: green;
  line-height: 0px;
}
