
.startup-info {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  margin: 15px;

}
.startup-info:hover {
  background-color: lightgray;
}

.startup-names {
  font-size: 18px;
  color: green;
  line-height: 1;
}
p {
  line-height: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;

  box-sizing: border-box;
}
.category-container {
  display: flex;
  word-break: keep-all;
  white-space: nowrap;
  flex-wrap: wrap;
}

.address-info {
  font-size: 12px;
}
.industry {
  font-size: 9px;
  border: green solid 2px;
  border-radius: 5%;
  padding: 0px;
  color: white;
  background-color: green;
  line-height: 1;
  height: 20px;
  margin-top: 5px;
}
img {
  width: 75px;
  float: right;
  overflow: hidden;
  mix-blend-mode: multiply;
}