.industry {
  border: green solid 1px;
  border-radius: 20px;
  padding: 3px;
  margin-right: 5px;
  color: white;
  background-color: green;
  display: inline;
  line-height: 2;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.industry:hover {
  color: green;
  border: white solid 1px;
}


.Software, .Developer, .Web, .Hardware, .Computer, .Design {
  background-color: orange;
  border: orange solid 1px;
}

.Internet {
  background-color: teal;
  border: teal solid 1px;
}
.Education, .EdTech {
  background-color: fuchsia;
  border: fuchsia solid 1px;
}
.Travel, .Community, .Lifestyle, .Consumer, .Leisure {
  background-color: maroon;
  border: maroon solid 1px;
}
.Finance, .Financial {
  background-color: cornflowerblue;
  border: cornflowerblue solid 1px;
}
.Media {
  background-color: purple;
  border: purple solid 1px;
}
.Sales, .Marketing, .Advertising {
  background-color: goldenrod;
  border: goldenrod solid 1px;
}

.Sporting, .Sports {
  background-color: royalblue;
  border: royalblue solid 1px;
}
.Service, .Commerce, .Restaurants, .Food, .Hospitality {
  background-color: lightskyblue;
  border: lightskyblue solid 1px;
}
.Manufacturing {
  background-color: brown;
  border: brown solid 1px;
}
.Health, .Health, .Pharmaceutical, .Biopharma, .Biotechnology, .Medical, .Clinical {
  background-color: red;
  border: red solid 1px;
}
.Consulting {
  background-color: purple;
  border: purple solid 1px;
}
.Mobile, .iOS, .Platforms, .Apps, .Information {
  background-color: gray;
  border: gray solid 1px;
}


@media screen and (max-width: 500px) {
  .industry {
    border-radius: 20px;
    margin-right: 5px;
  }
  
}